*{ /* Quita los estilos del navegador por defecto */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a{ /* Quitar decoracion de enlaces */
	text-decoration: none;
}
i{ /* Estilo del Icono Online */
	color: darkred;

}

img{
	height: 100%;
	width: 100%;
}

#lineasGuia{   /* lineas Enlazadas */
	width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#lineasGuia >a{   /* lineas Enlazadas dentro de los enlaces */
	font-size: 3em;
}
#lineasGuia >a:hover{
	background-color: pink;
}

#lineasGuia:hover{
	background-color: purple;
}

#contenedor{ /* Identificador del Contenedor Externo */
	height: 260px;
	width: 100%;
	position: relative;
	margin-inline: 2%;
	margin-block: 1%;
	overflow: hidden;	/* Oculta los contenedores 1,2 y 3 */
	
}
.itemCarrucel{ /* estilo del Contenedor Interno del carrucel */
	border: 1px solid black;
	height: 260px;
	width: 96%;
	position: relative;
}

.tarjetaCarrucel{ /* estilo de la anchura de las tarjetas o IMG´S */
	height: 100%;
}

.flechasCarrucel{ /* estilo de las flechas para cambio de img´s */
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}