*{ /* Quita los estilos del navegador por defecto */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a{ /* Quitar decoracion de enlaces */
	text-decoration: none;
}
i{ /* Estilo del Icono Online */
	color: darkred;

}

img{
	height: 100%;
	width: 100%;
}

#contenedor{ /* Identificador del Contenedor Externo */
	height: 260px;
	width: 100%;
	position: relative;
	margin-inline: 2%;
	margin-block: 1%;
	overflow: hidden;	/* Oculta los contenedores 1,2 y 3 */
}

/* Propiedad de Animación */
@keyframes slide{
	0%{margin-left: 0%}
	20%{margin-left: 0%}
	
	25%{margin-left: 100%}
	45%{margin-left: 100%}

	50%{margin-left: 200%}
	70%{margin-left: 200%}
}
/* Propiedad de Animación */

.itemCarrucel{ /* estilo del Contenedor Interno del carrucel */
	border: 1px solid black;
	height: 260px;
	width: 96%;
	position: relative;
}

.tarjetaCarrucel{ /* estilo de la anchura de las tarjetas o IMG´S */
	height: 100%;
	animation: slide 15s infinite;	/* crear un Variable con el nombre slide con 15segundos de forma infinita con una entrada suave */

}

.flechasCarrucel{ /* estilo de las flechas para cambio de img´s */
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

/* Para cada contenedor o tajeta donde van las Img´s */

#Img1{
	background-color: rgba(0, 125, 255, 0.6);
}

#Img2{
	background-color: rgba(0, 100, 255, 0.7);
}

#Img3{
	background-color: rgba(0, 25, 255, 0.8);
}
